{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92"
         style="background-image: url({% static 'website/images/bg.jpg' %}">
    <h2 class="ltext-105 cl0 txt-center">
        About
    </h2>
</section>

<!-- Content page -->
<section class="bg0 p-t-75 p-b-100">
    <div class="container">
        <div class="row p-b-110">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Story
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        Raah Screen Print is a printing company which was established in 1994 AD. It has been effectively
                        running for last 28 years. Raah Screen Print is located in Teku, Kathmandu. It is a small scale
                        business run by small group of people. We provide different kind of products.we produces good-quality
                        prints at affordable prices.We provide all kinds of printing products which can be served as gifts
                        and souvenirs on any occasion.We serve products like cups, multicolor t-shirts, masks, cushions,
                        bags, bottles, mousepads, digital t-shirts, etc. It is a business run by a small family with 100%
                        authentic and guaranteed prints.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        Any questions? Let us know in store at Teku, Kathmandu or call us
                        on (+977) 98 4124 6413
                    </p>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="{% static 'website/images/about1.jpg' %}" alt="IMG">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Mission
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        As Raah Screen Print has been succesfully running for last 28 years effectively by providing wide
                        range of printing facilities at affordable prices. We still aim to provide much better services to
                        our customer that will provide maximum customer satisfaction. We also provide individual customization
                        on any products available with us. Our main aim is to be more creative, bring even more new ideas
                        and provide maximum satisfaction and reach as much
                        people as possible. In order to grow our business we focus on our targeted customer and provide
                        maximum satisfaction and give the best services to our customers.
                    </p>

                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            Creativity is just connecting things. When you ask creative people how they did something,
                            they feel a little guilty because they didn't really do it, they just saw something. It
                            seemed obvious to them after a while.
                        </p>

<!--                        <span class="stext-111 cl8">-->
<!--							</span>-->
                    </div>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="{% static 'website/images/about2.jpg' %}" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
